# Backend
PORT=5000
MONGODB_URI=mongodb+srv://username:password@cluster.mongodb.net/lumashop
JWT_SECRET=your_jwt_secret_key_here
STRIPE_SECRET_KEY=sk_test_your_stripe_secret_key
STRIPE_PUBLISHABLE_KEY=pk_test_your_stripe_publishable_key
FRONTEND_URL=http://localhost:5173

# Frontend
VITE_API_URL=http://localhost:5000